<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
    <script type="text/javascript">
        var map;

        DG.then(function () {
            map = DG.map('map', {
                "center": [54.98, 82.89],
                "zoom": 13
            });
        });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
