@model string

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {     
        <div class="form-group">
            @*<label for="query1">Введите запрос</label>*@
            @Html.Label("Введите запрос")
            @Html.TextBox("query")
            @*<input type="text" class="form-control" id="query1" placeholder="Введите тип объекта">*@
        </div>
        
        <div class="form-group pull-right">
            <button type="reset" class="btn btn-default btn-sm">Сброс</button>
            <input type="submit" value="Поиск" class="btn btn-primary btn-sm"/>
        </div>

    }



