
<div class="col-lg-4">
    <form>
        
        <div class="form-group">
            <label for="query1">Введите запрос</label>
            <input type="text" class="form-control" id="query1" placeholder="Введите тип объекта">
        </div>
        
        <p class="pull-right">
            <button type="reset" class="btn btn-default btn-sm">Сброс</button>
            <button type="submit" class="btn btn-primary btn-sm">Поиск</button>
        </p>

    </form>
</div>


