@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Оптимальный маршрут";
}

<div class="row marketing">
    @Html.Partial("Forms")
    <div id="map" class="col-lg-8"></div>
</div>